body {
	/* background-color:#ffffff; 
    background-color:#f3f3f3; */
	background-image: url("background.png");
	background-size: 100%;
	background-position: 0% 70%;
	background-repeat: repeat-y;
	background-attachment: fixed;
}

.titledesc{
    font-size:1.0em;
    color: #777;
}

.title{
    font-size:2.4em;
}

.spacer {
    margin-top:30px;
}

.spacer-md {
    margin-top:20px;
}

.border{
    border-width:1px;
    border-style: solid;
    border-color: #000;
}

.statement {
    font-size:1.6em;
    color: #777;
}

.thumb {
	overflow: hidden;
}

.statement_sub {
    font-size:1.2em;
    color: #000;
}

.topic {
	margin-top: 30px;
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #ddd;
    padding-top:20px;
    min-height:160px;
}

.cont {
    padding-top:20px;
    min-height:160px;
}

.topic:hover {
    background-color:#f8f8f8;
}

.cont:hover {
    background-color:#f8f8f8;
}

.footer {
	margin-top: 30px;
	margin-bottom: 50px;
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #ddd;
}

.leftline {
    border-left-width:1px;
    border-left-style: solid;
    border-left-color: #ddd;
}

/* p {
    font-size:1.4em;
} */

.thumb_text {
	margin-top: 10px;
	margin-left: 5px;
    font-size:1.1em;
	font-weight: bold;
    color: #000;
}

.thumb_sub_text {
	margin-top: 0px;
	margin-left: 5px;
    font-size:1.0em;
    color: #777;
}
